<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::head}">
    <title>Account Console</title>
</head>

<body class="container">

    <div th:replace="~{fragments::navbar2(current=index)}"></div>

    <div class="jumbotron">

        <div>
            <h2>Profile</h2>
            <ul>
                <li th:each="claims, iterator: ${userInfo.claims}" th:text="${claims}">Claim</li>
            </ul>
        </div>

        <div>
            <h2>User Roles</h2>
            <ol>
                <li th:each="roleName, iterator: ${roleNames}" th:text="${roleName}">Role</li>
            </ol>
        </div>

        <p id="message" class=".alert-success">

        </p>
    </div>

</body>

</html>